@each $color, $value in $theme-colors {
  .btn-link-#{$color} {
    @extend .btn-link;
    color: $value;
    &:hover {
      color: darken($value, 10);
      text-decoration: none !important;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($value, 0.25);
      text-decoration: none !important;
    }
  }
}

@each $value in $object-fit {
  .object-#{$value} {
    object-fit: $value;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $size, $value in $sizes {
      .w#{$infix}-#{$size} {
        width: $value !important;
      }
      .h#{$infix}-#{$size} {
        height: $value !important;
      }
    }
  }
}

@each $size, $value in $sizes {
  .top-#{$size} {
    top: $value !important;
  }
  .bottom-#{$size} {
    bottom: $value !important;
  }
  .left-#{$size} {
    left: $value !important;
  }
  .right-#{$size} {
    right: $value !important;
  }
  @if $value != "auto" and $value != 0 {
    .top-n#{$size} {
      top: -$value !important;
    }
    .bottom-n#{$size} {
      bottom: -$value !important;
    }
    .left-n#{$size} {
      left: -$value !important;
    }
    .right-n#{$size} {
      right: -$value !important;
    }
  }
  .min-h-#{$size} {
    min-height: $value !important;
  }
  .min-w-#{$size} {
    min-width: $value !important;
  }
  .max-h-#{$size} {
    max-height: $value !important;
  }
  .max-w-#{$size} {
    max-width: $value !important;
  }
}

@each $size, $value in $font-sizes {
  .text-#{$size} {
    font-size: $value !important;
  }
}
