// ========================================================
// Fonts
// ========================================================

$font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;

$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;

$rem: 1rem;
$font-sizes: (
  xs: $rem * 0.75,
  sm: $rem * 0.875,
  base: $rem * 1,
  lg: $rem * 1.125,
  xl: $rem * 1.25,
  2xl: $rem * 1.5,
  3xl: $rem * 1.875,
  4xl: $rem * 2.25,
  5xl: $rem * 3,
  6xl: $rem * 4
);

// ========================================================
// Colors
// ========================================================

$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

$black: #000000;
$white: #ffffff;

$theme-colors: (
  "black": $black,
  "white": $white,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900
);

// ========================================================
// Spacing
// ========================================================

// Used for margins, padding
$spacers: (
  0: 0,
  1: $rem * 0.25,
  2: $rem * 0.5,
  3: $rem * 0.75,
  4: $rem * 1,
  5: $rem * 1.25,
  6: $rem * 1.5,
  8: $rem * 2,
  10: $rem * 2.5,
  12: $rem * 3,
  14: $rem * 3.5,
  16: $rem * 4,
  20: $rem * 5,
  24: $rem * 6,
  32: $rem * 8,
  40: $rem * 10,
  48: $rem * 12
);

// Used for widths, heights, max-widths, max-heights, etc
$sizes: map-merge(
  (
    "auto": auto
  ),
  $spacers
);

// ========================================================
// Miscellaneous
// ========================================================

$object-fit: (cover, contain);
